section.footer.container
    .row
        .left-block.col-6
            ul.footer-items
                li.footer-item
                    a(href="#") Карта сайта
                li.footer-item
                    a(href="#") Новости
                li.footer-item
                    a(href="#") Контакты
            ul.footer-items
                li.footer-item
                    a(href="#") Продукты
                li.footer-item
                    a(href="#") Услуги
                li.footer-item
                    a(href="#") Сферы применения
                li.footer-item
                    a(href="#") Проекты
                li.footer-item
                    a(href="#") Пресс-центр
                li.footer-item
                    a(href="#") Компания
                li.footer-item
                    a(href="#") ПО и оборудование

        .right-block.col-12.col-md-6
            button.btn.btn-orange Подписаться на рассылку
            .footer-info
                p.address Москва, 2-Кожуховский пр., 12, с 11
                .wrapper
                    a.phone(href="tel:+74995530398") +7 499 553-03-98
                    a.mail(href="mailto:uav@ptero.ru") uav@ptero.ru
    .footer-bottom.row
        .col-6.copyright
            p.copyright_text © ПТЕРО 2018
        .col-12.col-md-6.social
            .social_icon
                a(href="#")
                    .item.f
                a(href="#")
                    .item.vk
                a(href="#")
                    .item.y



