section.top-menu.p-0
    .container-fluid.p-0
        .info-line
            .container
                .row
                    .info-line_link.col-6
                        ul.items
                            li Карта сайта
                            li Новости
                            li Контакты
                    .info-line_contacts.col-6
                        .items
                            a.phone(href="tel:+74995530398") +7 499 553-03-98
                            a.mail(href="mailto:uav@ptero.ru") uav@ptero.ru
                            a.lang-ru
                                img(src="img/index/lang/ru.png" alt="ru").lazyload
                            a.lang-en
                                img(src="img/index/lang/en.png" alt="en").lazyload
        .container.p-0
            nav.navbar.navbar-expand-md.navbar-light.p-0
                a.navbar-brand.py-3(href="#")
                    img(src="img/index/ptero.svg" alt="Logo" title="Ptero").lazyload
                    p.text Беспилотные авиационные системы и их применение
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span.navbar-toggler-icon

                .collapse.navbar-collapse#navbarSupportedContent
                    ul.navbar-nav
                        li.nav-item
                            .dropdown
                                a.nav-link#dropdown1(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")  Продукты
                                .dropdown-menu(aria-labelledby="dropdown1")
                                    a.dropdown-item(href="#") Птеро-G1 Аэро
                                    a.dropdown-item(href="#") Птеро-G1 Агро
                                    a.dropdown-item(href="#") Птеро-G1 Мониторинг
                                    a.dropdown-item(href="#") Другие сборки
                                    a.dropdown-item(href="#") Virtual Surveyor
                                    a.dropdown-item(href="#") PHOTOMOD UAS

                        li.nav-item.active
                            .dropdown
                                a.nav-link#dropdown2(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Услуги
                                .dropdown-menu(aria-labelledby="dropdown2")
                                    a.dropdown-item(href="#") Аэрофотосъемка топографическаяи мониторинговая
                                    a.dropdown-item(href="#") Тепловизионная аэросъемка
                                    a.dropdown-item(href="#") Мультиспектральная аэросъемка
                                    a.dropdown-item(href="#") Мониторинг  линейных  объектов
                                    a.dropdown-item(href="#") Визуальный мониторинг
                                    a.dropdown-item(href="#") 3D-моделирование
                                    a.dropdown-item(href="#") Обработка данных
                                    a.dropdown-item(href="#") Вычисление объемов
                        li.nav-item
                            .dropdown
                                a.nav-link#dropdown3(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Сферы применения
                                .dropdown-menu(aria-labelledby="dropdown3")
                                    a.dropdown-item(href="#") Сельское хозяйство
                                        a.dropdown-item(href="#") Лесное хозяйство
                                        a.dropdown-item(href="#") Нефть и газ
                                        a.dropdown-item(href="#") Энергетика
                                        a.dropdown-item(href="#") Водное хозяйство
                                        a.dropdown-item(href="#") Горное дело
                                        a.dropdown-item(href="#") Экологический мониторинг
                                        a.dropdown-item(href="#") Поиск и спасение
                        li.nav-item
                            .dropdown
                                a.nav-link#dropdown4(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Проекты
                        li.nav-item
                            .dropdown
                                a.nav-link#dropdown5(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Пресс-центр
                                .dropdown-menu(aria-labelledby="dropdown5")
                                    a.dropdown-item(href="#") Новости
                                    a.dropdown-item(href="#") Статьи
                                    a.dropdown-item(href="#") Блог
                        li.nav-item
                            .dropdown
                                a.nav-link#dropdown6(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Компания
                                .dropdown-menu(aria-labelledby="dropdown6")
                                    a.dropdown-item(href="#") О компании
                                    a.dropdown-item(href="#") Контакты
                                    a.dropdown-item(href="#") Лицензии
                                    a.dropdown-item(href="#") Реквизиты
                                    a.dropdown-item(href="#") Вакансии
                                    a.dropdown-item(href="#") Партнеры
                        li.nav-item
                            .dropdown
                                a.nav-link#dropdown7(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") ПО и оборудование
                        li.search
                            a(href="#")
