section.products
    .container
        .row
            .col-12.p-0
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="index.html") Главная
                        li.breadcrumb-item.active(aria-current="page") Продукты
            h1.title-2.desh.mx-auto Продукты
            .products_top-icons
                .products_top-icons_items
                    .products_top-icons_item
                        .products_top-icons_item_img
                            img(data-src="img/products/top-icon-1.png" alt="img-1").lazyload
                        .products_top-icons_item_text
                            p Птеро-G1
                    .products_top-icons_item
                        .products_top-icons_item_img
                            img(data-src="img/products/top-icon-2.png" alt="img-2").lazyload
                        .products_top-icons_item_text
                            p Гиперкоптер
                    .products_top-icons_item
                        .products_top-icons_item_img
                            img(data-src="img/products/top-icon-3.png" alt="img-3").lazyload
                        .products_top-icons_item_text
                            p ПО и оборудование
            .goods-list