section.service
    .header-img
        a.top-banner_phone(href="tel:+74995530398") +7 499 553-03-98
        picture.lazyload
            source(media="(max-width: 768px)" data-srcset="img/service/header-mob.png")
            source(media="(min-width: 769px)" data-srcset="img/service/header-img-new.png")
            img(data-src="img/service/header-img-new.png" alt="header-img").lazyload
    .container
        .row
            .col-12.p-0
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="index.html") Главная
                        li.breadcrumb-item.active(aria-current="page") Услуги
            h1.title-2.desh.mx-auto Услуги
            .servise4x-items
                a(href="#").servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-1.png" alt="icon-1").lazyload
                    .servise4x-item_text
                        | Сельское хозяйство
                a(href="#").servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-2.png" alt="icon-2").lazyload
                    .servise4x-item_text
                       | Лесное хозяйство
                a(href="#").servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-3.png" alt="icon-3").lazyload
                    p.servise4x-item_text
                      | Нефть и газ
                a(href="#").servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-4.png" alt="icon-4").lazyload
                    p.servise4x-item_text
                       | Энергетика
                a(href="#").servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-5.png" alt="icon-5").lazyload
                    p.servise4x-item_text
                        | Водное хозяйство
                a(href="#").servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-6.png" alt="icon-6").lazyload
                    p.servise4x-item_text
                        | Горное дело
                a(href="#").servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-7.png" alt="icon-7").lazyload
                    p.servise4x-item_text
                        | Поиск и спасение
                a(href="#").servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-8.png" alt="icon-8").lazyload
                    p.servise4x-item_text
                      | Строительство и эксплуатации сооружений
            article.service-article
                .service-article_img
                    a(href="img/service/img-1.jpg" data-fancybox data-caption="Caption for single image").fancybox-custom-show-btn
                        img(data-src="img/service/img-1.jpg").lazyload
                .service-article_rigth-block-text
                    h3.title-3 Лесное хозяйство
                    p.text Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ.
                    p.text Обладая более чем десятилетним опытом проектирования, производства и      эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе беспилотных авиационных систем семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в
                    p.text Ваше производство решений на основе беспилотных авиационных семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе. беспилотных авиационных
                .service-article_bottom-block-text
                    h3.title-3 Выполненные проекты
                    p.text Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ.
                    p.text Обладая более чем десятилетним опытом проектирования, производства и      эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе беспилотных авиационных систем семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в
                    p.text Ваше производство решений на основе беспилотных авиационных семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе. беспилотных авиационных

