section.service
    .container
        .row
            .col-12.p-0
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="index.html") Главная
                        li.breadcrumb-item.active(aria-current="page") Услуги
            h1.title-2.desh.mx-auto Услуги
            .servise4x-items
                .servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-1.png" alt="icon-1").lazyload
                    .servise4x-item_text
                        p.text Сельское хозяйство
                .servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-2.png" alt="icon-2").lazyload
                    .servise4x-item_text
                        p.text Лесное хозяйство
                .servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-3.png" alt="icon-3").lazyload
                    .servise4x-item_text
                        p.text Нефть и газ
                .servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-4.png" alt="icon-4").lazyload
                    .servise4x-item_text
                        p.text Энергетика
                .servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-5.png" alt="icon-5").lazyload
                    .servise4x-item_text
                        p.text Водное хозяйство
                .servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-6.png" alt="icon-6").lazyload
                    .servise4x-item_text
                        p.text Горное дело
                .servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-7.png" alt="icon-7").lazyload
                    .servise4x-item_text
                        p.text Поиск и спасение
                .servise4x-item
                    .servise4x-item_img
                        img(data-src="img/service/icon-8.png" alt="icon-8").lazyload
                    .servise4x-item_text
                        p.text Строительство и эксплуатации сооружений
            article.service-article
                .service-article_img
                    a(href="img/service/img-1.jpg" data-fancybox data-caption="Caption for single image").fancybox-custom-show-btn
                        img(data-src="img/service/img-1.jpg").lazyload
                .service-article_rigth-block-text
                    h3.title-3 Лесное хозяйство
                    p.text Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ.
                    p.text Обладая более чем десятилетним опытом проектирования, производства и      эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе беспилотных авиационных систем семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в
                    p.text Ваше производство решений на основе беспилотных авиационных семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе. беспилотных авиационных
                .service-article_bottom-block-text
                    h3.title-3 Выполненные проекты
                    p.text Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ.
                    p.text Обладая более чем десятилетним опытом проектирования, производства и      эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе беспилотных авиационных систем семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в
                    p.text Ваше производство решений на основе беспилотных авиационных семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе. беспилотных авиационных

