section.card-goods
    .header-img
        a.top-banner_phone(href="tel:+74995530398") +7 499 553-03-98
        picture.lazyload
            source(media="(max-width: 768px)" data-srcset="img/service/header-mob.png")
            source(media="(min-width: 769px)" data-srcset="img/service/header-img-new.png")
            img(data-src="img/service/header-img-new.png" alt="header-img").lazyload
    .container
        .row
            .col-12.p-0
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="index.html") Главная
                        li.breadcrumb-item
                            a(href="products.html") Продукты
                        li.breadcrumb-item.active(aria-current="page") Птеро-G1 Аэро
        section.card-goods_top-icons
            .card-goods_top-icons_items
                a(href="#").card-goods_top-icons_item
                    img(data-src="img/card-goods/top-icons-1.png").lazyload
                    p.title
                        | Птеро-G1 Аэро
                a(href="#").card-goods_top-icons_item
                    img(data-src="img/card-goods/top-icons-1.png").lazyload
                    p.title
                        | Птеро-G1 Агро
                a(href="#").card-goods_top-icons_item
                    img(data-src="img/card-goods/top-icons-1.png").lazyload
                    p.title
                        | Птеро-G1 Мониторинг
                a(href="#").card-goods_top-icons_item
                    img(data-src="img/card-goods/top-icons-1.png").lazyload
                    p.title
                        | Virtual Surveyor
                a(href="#").card-goods_top-icons_item
                    img(data-src="img/card-goods/top-icons-1.png").lazyload
                    p.title
                        | PHOTOMOD UAS
                a(href="#").card-goods_top-icons_item
                    img(data-src="img/card-goods/top-icons-1.png").lazyload
                    p.title
                        | Другие сборки

        section.card-article.row
            .col-12.col-md-4.card-article_img
                a(href="img/card-goods/img-1.jpg" data-fancybox="gallery" data-caption="image-1").fancybox-custom-show-btn
                    img(data-src="img/card-goods/img-1.jpg").lazyload
            .col-12.col-md-8.card-article_text
                p.title Описание модели
                p.text
                | Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
            .col-12.card-article_list
                ul.circle-orange
                    li Предлагаем поставку и внедрение в Ваше производство решений на основе беспилотных авиационных систем семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе беспилотных авиационных семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе. беспилотных авиационных.

            .col-12.col-md-6.bottom-article
                .bottom-article_img
                    a(href="img/card-goods/img-2.jpg" data-fancybox="gallery" data-caption="image-2")
                        img(data-src="img/card-goods/img-2.jpg").lazyload
                .bottom-article_text
                    p.text
                    | Ваше производство решений на основе беспилотных авиационных семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе. беспилотных авиационных

            .col-12.col-md-6.bottom-article
                .bottom-article_img
                    a(href="img/card-goods/img-3.jpg" data-fancybox="gallery" data-caption="image-3")
                        img(data-src="img/card-goods/img-3.jpg").lazyload
                .bottom-article_text
                    p.text
                    | Ваше производство решений на основе беспилотных авиационных семейства «Птеро». эксплуатации беспилотной авиационной технvики, мы предлагаем поставку и внедрение в Ваше производство решений на основе. беспилотных авиационных

