section.press-center
    .header-img
        a.top-banner_phone(href="tel:+74995530398") +7 499 553-03-98
        picture.lazyload
            source(media="(max-width: 768px)" data-srcset="img/service/header-mob.png")
            source(media="(min-width: 769px)" data-srcset="img/service/header-img-new.png")
            img(data-src="img/service/header-img-new.png" alt="header-img").lazyload
    .container
        .row
            .col-12.p-0
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="index.html") Главная
                        li.breadcrumb-item.active(aria-current="page") Пресс-Цент
            .col-12.press-center_tabs.p-0
                .press-center_tab_wrapper
                    ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                        li
                            a#pills-news-tab.active.btn-tab(data-toggle='pill', href='#pills-news', role='tab', aria-controls='pills-news', aria-selected='true') Новости
                        li
                            a#pills-article-tab.btn-tab(data-toggle='pill', href='#pills-article', role='tab', aria-controls='pills-article', aria-selected='false') Статьи
                        li
                            a#pills-blocg-tab.btn-tab(data-toggle='pill', href='#pills-blog', role='tab', aria-controls='pills-blog', aria-selected='false') Блог
                    form.subscription#form-subscription-1
                        .items
                            p.text.item Будьте в курсе событий!
                            input.form-control.item(type="email" placeholder="email")
                            button.btn.btn-orange.item(type="submit") Подписаться
                #pills-tabContent.tab-content
                    #pills-news.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-news-tab')
                        .news-items
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-1.jpg" alt="news-1").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-2.jpg" alt="news-2").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-3.jpg" alt="news-3").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-4.jpg" alt="news-4").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                        .d-flex.justify-content-center.mb-5
                            a.link-def.dark(href="#") еще новости
                    #pills-article.tab-pane.fade(role='tabpanel', aria-labelledby='pills-article-tab')
                        .news-items
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-1.jpg" alt="news-1").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-2.jpg" alt="news-2").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-3.jpg" alt="news-3").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-4.jpg" alt="news-4").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                        .d-flex.justify-content-center.mb-5
                            a.link-def.dark(href="#") еще статьи
                    #pills-blocg.tab-pane.fade(role='tabpanel', aria-labelledby='pills-blog-tab')
                        .news-items
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-1.jpg" alt="news-1").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-2.jpg" alt="news-2").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-3.jpg" alt="news-3").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                            .news-item
                                .news-item_img
                                    a(href="#")
                                        img(data-src="img/press-center/news-img-4.jpg" alt="news-4").lazyload
                                .news-item_text
                                    a(href="#").title
                                        p Сельское хозяйство
                                    .text
                                        p Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники. Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ. Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы
                                    .date
                                        p 17.07.18
                        .d-flex.justify-content-center.mb-5
                            a.link-def.dark(href="#") еще блог

