section.project
    .container
        .row
            .col-12.p-0
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="index.html") Главная
                        li.breadcrumb-item.active(aria-current="page") Проекты
            h1.title-2.desh.mx-auto Наши проекты
            .map-top.mx-auto
                img(src="img/project/map.png" alt="map")
            .col-12.project-list
                .project-list_filter
                    form.project-list_filter_form
                        p.text Выбрать проект по
                        .form-group
                            label(for="select-region").custom-arrow
                                select.form-control#select-region(name="select-region")
                                    option(selected) региону
                                    option МО
                            label(for="select-tema").custom-arrow
                                select.form-control#select-tema(name="select-tema")
                                    option(selected) тематике
                                    option Электроенегетика
                            label(for="select-year").custom-arrow
                                select.form-control#select-year(name="select-year")
                                    option(selected) году
                                    option 2011
                                    option 2012
                                    option 2013
                                    option 2014
                                    option 2015
                                    option 2016
                                    option 2017
                                    option 2018

                .project-list_items
                    .project-list_item
                        .project-list_item_img
                            a(href="img/project/img-1.jpg" data-fancybox="gallery" data-caption="image-1").fancybox-custom-show-btn.white
                                img(data-src="img/project/img-1.jpg" alt="img-1").lazyload
                        .project-list_item_text
                            .title
                                p Электроэнергетика
                            .date-place
                                p 2012 г.
                                p Тверская обл.
                            .text
                                p Диагностическое обследование 3 км ВЛ 35 кВ «Зубцово – Погорелое Городище-1» для ОАО «Тверьэнерго» (Тверская обл.), 2012 г.
                                p Обладая более чем де,сятилетним опытом проектирования, производства и      эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе беспилотных авиационных систем семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в
                                p Ваше производство решений на основе беспилотных авиационных семейства «Птеро». эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе. беспилотных авиационных
                            button.link-def Подробнее
                    .project-list_item
                        .project-list_item_img
                            a(href="img/project/img-2.jpg" data-fancybox="gallery" data-caption="image-2").fancybox-custom-show-btn.white
                                img(data-src="img/project/img-2.jpg" alt="img-2").lazyload
                        .project-list_item_text
                            .title
                                p Электроэнергетика
                            .date-place
                                p 2012 г.
                                p Тульская обл.
                            .text
                                p Экспериментальная тепловизионная съемка Черепетской ГРЭС (Тульская обл.), 2012 г.;
                            button.link-def Подробнее
                    .project-list_item
                        .project-list_item_img
                            a(href="img/project/img-3.jpg" data-fancybox="gallery" data-caption="image-3").fancybox-custom-show-btn.white
                                img(data-src="img/project/img-3.jpg" alt="img-3").lazyload
                        .project-list_item_text
                            .title
                                p Электроэнергетика
                            .date-place
                                p 2012 г.
                                p Ленинградская обл.
                            .text
                                p Участие в учениях по аварийно-восстановительным работам ОАО «Ленэнерго» (Ленинградская обл.), 2012 г.;
                            button.link-def(type="button" data-toggle="collapse" data-target="#news-3" aria-expanded="false" aria-controls="collapseExample") Подробнее


