section.top-banner
    .container
        .row
            .top-banner_lang.col-4.offset-8
                .top-banner_lang-ru
                    a(href="#") ru
                .top-banner_lang-en
                    a(href="#") en
            .top-banner_phone +7 499 553-03-98
            .top-banner_content.col-12
                h1.title Аэрофотосъемка
                p.description Оперативный метод получения пространственных данных
            button.btn.btn-orange.ml-4 подробно

section.about
    .container
        .row
            .about_title.col-12
                h2.title-2.desh Компания «ПТЕРО»
            .about_text.col-12
                p.text.light.text-blur-light —  Является российским разработчиком специализированных беспилотных авиационных систем для выполнения аэросъемочных работ.
                .collapse.multi-collapse#collapse1
                    p.text Обладая более чем десятилетним опытом проектирования, производства и эксплуатации беспилотной авиационной техники, мы предлагаем поставку и внедрение в Ваше производство решений на основе беспилотных авиационных систем семейства «Птеро».
                a(data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1").def.mt-5#detail-1 подробно


section.features.container-fluid
        .row
            .features_img.col-6.p-0
                img(src="img/index/features-img-text.jpg" alt="").lazyload
            .features_list.col-12.col-xl-6
                .container
                    .row
                        h2.title-2.desh Особенности нашей системы:
                        ul.circle-orange.text-blur-dark
                            li Большая дальность и продолжительность полета (до 800 км / 8 ч).
                            li Устойчивый полет БВС по аэросъемочному маршруту благодаря большой массе, скорости носителя и использованию специально разработанной системы автоматического управления PteRoBot.
                            li Возможность установки профессионального аэросъемочного и любого другого оборудования весом до 5 кг.
                            .collapse.multi-collapse#collapse2
                                li Большой объем отсека для полезной нагрузки — 15 л.
                                li Высокая прочность конструкции и её ремонтопригодность.
                                li Оказание квалифицированной технической поддержки в течение всего жизненного цикла системы.
                                li Внедрение решений на основе предлагаемой БАС «под ключ».
                                li Полеты в большом диапазоне температур от -30 до +40 без потери летных характеристик.
                        a(data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse1").def.white.mt-5#detail-2 подробно

section.news.container
    h2.title-2.desh.mt-4 Новости
    .responsive
        div
            a(href="#").link
                .item-slider
                    .wrapper-img
                        img(src="img/index/news-1.jpg" alt="news 1").lazyload
                    p.news-date 20.06.18
                    p.news-title News 1
                    p.news-text Sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
        div
            a(href="#").link
                .item-slider
                    .wrapper-img
                        img(src="img/index/news-2.jpg" alt="news 2").lazyload
                    p.news-date 14.06.18
                    p.news-title News 2
                    p.news-text Sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
        div
            a(href="#").link
                .item-slider
                    .wrapper-img
                        img(src="img/index/news-3.jpg" alt="news 3").lazyload
                    p.news-date 10.06.18
                    p.news-title News 3
                    p.news-text Sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
        div
            a(href="#").link
                .item-slider
                    .wrapper-img
                        img(src="img/index/news-1.jpg" alt="news 4").lazyload
                    p.news-date 20.06.18
                    p.news-title News 1
                    p.news-text Sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.




section.service.container-fluid
    .row
        .left-block.col-12.col-lg-6
            .service_container
                h2.title-2.desh Услуги
                ul.service-items.blue
                    li
                        a Аэрофотосъемка топографическая и мониторинговая
                    li
                        a Тепловизионная аэросъемка
                    li
                        a Мультиспектральная аэросъемка
                    li
                        a Мониторинг линейных объектов
                    li
                        a Визуальный мониторинг
                    li
                        a 3D-моделирование
                    li
                        a Обработка данных
                    li
                        a Вычисление объемов
        .right-block.col-12.col-lg-6
            .service_container
                h2.title-2.desh Сфера применения
                ul.service-items.orange
                    li Сельское хозяйство
                    li Лесное хозяйство
                    li Нефть и газ
                    li Энергетика
                    li Водное хозяйство
                    li Горное дело
                    li Экологический мониторинг
                    li Поиск и спасение

section.opportunities.container
    .row
        h2.title-2.desh.mx-auto.mt-5 Наши возможности
        .items.p-4
            .item
                .wrapper
                    img(src="img/index/opportunities-1.png" alt="1").lazyload
                p.text Команда квалифицированных специалистов в области авиационных систем, радиоэлектроники и автоматики, водородных технологий, сбора и обработки пространственных данных, информационных систем
            .item
                .wrapper
                    img(src="img/index/opportunities-2.png" alt="2").lazyload
                p.text Собственный центр компетенций по разработке водородных топливных элементов
            .item
                .wrapper
                    img(src="img/index/opportunities-3.png" alt="3").lazyload
                p.text КБ и современная производственная площадка в Москве
            .item
                .wrapper
                    img(src="img/index/opportunities-4.png" alt="4").lazyload
                p.text Собственный парк беспилотных авиационных систем, аэросъемочного оборудования и программного обеспечения













