//FOOTER
.footer-index {
  padding-top: 120px;
  background-image: url("../img/index/footer.png");
  background-size: cover;
}
.footer {
  color: $white;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  a {
    color: $white;
  }
  a:hover,
  a:active {
    color: $orange;
  }
}

.footer .phone,
.footer .mail {
  color: $white;
}
.footer-items {
  padding-left: 55px;
  display: inline-flex;
  flex-direction: column;
}
.footer-item {
  flex: 0 1 auto;
  padding: 5px;
}
.footer .btn {
  color: $dark1;
  padding: 7px 35px;
}
.footer .left-block {

}
.footer .right-block {

}
.footer-info {
  margin: 55px 0 25px;
}
.footer-info .mail {
  padding-left: 25px;
}
.social_icon {
  display: flex;
  justify-content: flex-end;
}
.social_icon .item {
  position: relative;
  flex: 0 1 auto;
  width: 32px;
  height: 32px;
  padding: 0 10px;
  margin: 0 6px;
}
/*.social_icon .item:hover {
  color: $orange;
}*/
.social_icon .item::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  border: 2px solid #ffffff;
  opacity: 0.4;
  border-radius: 50%;
}
.social_icon a {
  color: #ffffff;
  opacity: 0.7;
}
.social_icon a:hover {
  color: $orange;
  opacity: 1;
}
.social_icon .item.f::after {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  content: "\f39e";
  font-family: "Font Awesome 5 Brands";
  opacity: 0.7;
  //color: $gray;
}
.social_icon .item.vk::after {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  content: "\f189";
  font-family: "Font Awesome 5 Brands";
  opacity: 0.7;
  //color: $gray;
}
.social_icon .item.y::after {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  content: "\f167";
  font-family: "Font Awesome 5 Brands";
  opacity: 0.7;
  //color: $gray;
}
.opportunities .wrapper img {
  display: block;
  margin: 0 auto;
}

.copyright_text {
  color: #fff;
  font-size: 13px;
  opacity: .7;
}

